.main-div{
    background-color: white;
    border:5px groove aquamarine ;
    box-shadow:10px 10px 20px aqua;
    width: 50%;
    color: black;
    font-weight: bold;
    border-radius: 40px;
}
body{
    color: white;
    background-color: black;
    font-family: 'Nova Round', cursive;
}
.main-div img{
   width: 300px;
   height: 450px;
}
h4 span{
    color: mediumblue;
    font-style: italic;
    font-weight: bolder;
}
.footer-div{
    background-color: black;
    color: white;
    box-shadow:10px 10px 20px turquoise;
    width: 600px;
    height: 200px;
    border-radius: 20px;
    margin-top: 20px;
}